
 .container {
  padding-left: 22%;
  margin: auto;


  .box {
    font-size: 1.3rem;
    background-color: rgba(2, 113, 132, 0.15);

    h5 {
      font-size: 1.3rem;
    }
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  span {
    padding-bottom: 100px;
  }
}

/* Dispositivo  tablet */
@media only screen and (max-width: 992px) {
  .container {
    padding-left: 0%;
  }
}


/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .container {
    font-size: 1rem;
    margin: auto;
  }
}