html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.background {
  background: linear-gradient(
    to top right,
    white 0%,
    white 50%,
    white 50%,
    #f6a278 75%,
    #f16744 75%,
    #f16744 90%,
    #027184 90%,
    #027184 100%
  );
}
