.wp {
    padding: 0px 100px;
}

.price-text {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 212, 0);
}


.img-menu {
    height: 30px;
}

.font-75 {
    font-size: 0.75rem;
}

.font-110 {
    font-size: 1.1rem;
}

.font-125 {
    font-size: 1.25rem;
}

.balance {
    padding-bottom: 50px
}

.bg-comp {
    background-color: rgb(2, 113, 132, 0.15);
}

.bg-card {
    background-color: white;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .wp {
        padding: 0px 250px;
    }
}

@media (min-width: 1201px) {
    .wp {
        padding: 0px 400px;
    }
}