
  .c {
    background-color: rgba(2, 113, 132, 0);
    display: flex;
    flex-direction: column;
     align-items: center; /* Alinea verticalmente */
    white-space: wrap; /* Evita el wrap del contenido */
    max-width: 100%; /* Ancho máximo */

    .card-body {
      font-size: 12px;
        overflow: hidden; /* Oculta el contenido que desborda */
        margin-left: 10px; 
         max-width: calc(100% - 50px); /* Ajusta según el espacio disponible */
       
        
    }

    img {
     
      border-radius: 100%;
      width: 40px;
      height: 40px;
      border: 1px solid black;
    }
  }

