.c {
  background-color: rgba(2, 113, 132, 0);
  display: flex;
  flex-direction: column;
  align-items: center;

  .c-b {
    font-size: 12px;
    max-width: calc(100% - 10px); /* Ajusta según el espacio disponible */
    word-wrap: break-word; /* Permite que las palabras se rompan y se envuelvan */
    overflow-wrap: break-word; /* Alternativa para garantizar el wrap en espacios */
    text-align: center;
    font-size: 1rem;
  }

  img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 1px solid black;
  }
}
