 .container {
  width: 460px;
  margin-left: auto;
  margin-right: auto;

  .color {
    filter: grayscale(100%);
  }
}

/*Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .container {
    width: 400px;
    font-size: 0.8rem;
  }
}