.container {
  width: 700px;
  margin: auto;
  background: linear-gradient(
    to top right,
    #f6a278 0%,
    #f6a278 50%,
    #f8c1aa 60%,
    #e88b66 75%,
    #f7b191 90%,
    #f9d1c3 100%
  );
  padding: 20px;
  border-radius: 15px;

  .card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 40rem;

    .edit-profile {
      color: #f6a278;
      display: flex;
      padding: 0;
    }

    img {
      width: 200px;
      border-radius: 100%;
      margin: auto;
    }
  }
}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .container {
    width: 25rem;
    .card {
      width: 20rem;
      margin: auto;

      .edit-profile {
        justify-content: end;
      }

      img {
        width: 200px;
        border-radius: 100%;
        margin: auto;
      }
    }
  }
}
