.container {
  padding-left: 15rem;

  .card {
    background-color: rgba(2, 113, 132, 0.15);
    padding: 20px;
    border-radius: 10px;
    width: 45rem;
    font-size: 1.2rem;

    .edit-profile {
      color: #f6a278;
      display: flex;
      padding: 0;
      position: absolute;
      right: 0;
    }

    img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      border: 2px solid;
      margin-left: 20px;
      object-fit: contain;
    }
  }
}

/* Dispositivo  tablet */
@media only screen and (max-width: 992px) {
  .container {
    padding: 15px;
  }
}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .container {
    .card {
      font-size: 1rem;
      width: 20rem;
      margin: auto;
    }
  }
}
