.footer {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  background-color: #027184;
  margin-left: 0px;
  padding: 10px;

 .bi-heart-fill {
    padding: 0 2px;
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: #f16744;
      font-weight: bolder;
    }
  }

  .github {
    font-size: 2rem;
    &:hover {
      border-radius: 100%;
      background-color: black;
    }
  }

  .github-dropdown {
    position: relative;
  }

  .github-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    text-align: center;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    z-index: 100;
    bottom: 30px;
    right: 0;
  }

  .github-dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }

  .github-dropdown-content a:hover {
    background-color: black;
    color: white;
  }

  .github-dropdown:hover .github-dropdown-content {
    display: block;
  }
}

/*Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .footer {
    font-size: 0.8rem;
    text-align: center;

    span {
      font-size: 1.2rem;
    }

    .github {
      font-size: 1.5rem;
    }

    .github-dropdown-content {
      left: 50%;
      transform: translateX(-50%); /* Shift left by half its width */
    }
  }
}
/*Dispositivo desktop*/
@media only screen and (min-width: 992px) {
  .footer {

    border-top-left-radius: 100%;
}
}
