p {
  color: black;
  font-weight: bolder;
}

.github {
  color: black;
  font-size: 1.5rem;
  &:hover {
    color: #027184;
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 0.8rem;
  }
}
