<div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-end gap-0 gap-md-5  align-items-center  footer mt-5 pt-4 pb-4">
    <div>
        © 2024 SharExpen, hecho con
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f16744" class="bi bi-heart-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
        </svg>
        por el grupo1 FULL-STACK

        <a href="https://www.unir.net/ingenieria/master-full-stack-developer/" target="_blank">
            (UNIR)</a>
    </div>

    <div class="github-dropdown mt-2 mt-md-0 pe-0 pe-md-5">
        <i id="githubIcon" class="github bi bi-github" aria-haspopup="true" aria-expanded="false"></i>
        <div class="github-dropdown-content">
            <a href="https://github.com/matildejb/TFM_back.git" target="_blank">Backend Repo</a>
            <a href="https://github.com/matildejb/TFM_front.git" target="_blank">Frontend Repo</a>
        </div>
    </div>
</div>