.bg-se-3 {
  background-color: #027184;
}

.btn-se-1 {
  padding: 10px;
  border: 1px solid #f6a278;
  color: #f6a278;
  &:hover {
    background-color: #f6a278;
    color: white;
  }
}

.btn-se-2 {
  padding: 10px;
  border: 1px solid #f16744;
  color: #f16744;
  &:hover {
    background-color: #f16744;
    color: white;
  }
}
