@if(error === '1'){
<p class="text-danger small text-center pt-3">{{ msg }}</p>
}

<div class="d-flex justify-content-center align-items-center py-3 mb-3">
  <div class="mx-3">
    <img src="../../../../assets/images/welcome_animation.gif" class="img-fluid d-flex m-auto my-5 mt-0 image"
      alt="Animación de registro o inicio de sesión del usuario" />
    <a class="btn btn-se-1 w-100 mb-3" [routerLink]="['/register']">Registrarse</a>
    <a class="btn btn-se-2 w-100" [routerLink]="['/login']">Iniciar sesión</a>
  </div>
</div>