.navbar {
  background: linear-gradient(
    to bottom right,
    white 0%,
    white 50%,
    #f6a278 50%,
    #f6a278 75%,
    #f16744 75%,
    #f16744 90%,
    #027184 90%,
    #027184 100%
  );

  .btn-custom {
    color: #027184;
    &:hover {
      border: #027184 1px solid;
    }
  }

  .offcanvas {
    width: 300px;
    background: linear-gradient(to bottom right, white 55%, #f6a278);
    .offcanvas-header {
      border-bottom: #f6a278 2px solid;
      margin-bottom: 0;
    }
  }

  /* icono usuario*/
  .icon-user {
    color: black;
    font-size: 2rem;

    &:hover {
      color: white;
    }
  }
}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .navbar {
    background: linear-gradient(
      to bottom right,
      white 0%,
      white 50%,
      white 50%,
      #f6a278 75%,
      #f16744 75%,
      #f16744 90%,
      #027184 90%,
      #027184 100%
    );
  }
}
