<nav class="navbar">
  <div>
    <button class="navbar-toggler mx-3 btn-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['/landing']">
      <strong>SharExpen</strong>
      <img src="assets/IMG/logo.png" alt="logotipo" width="70px">
    </a>
   
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SharExpen 
          <img src="assets/IMG/logo.png" alt="logotipo" width="60px">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mis grupos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Crear un nuevo grupo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Unirse a un grupo</a>
          </li>
        </ul>
      </div>
    </div>
   
  </div>
 
  <div>
    <a href="" class="me-3">
      <i class="bi bi-person-lines-fill icon-black"></i>
    </a>
  </div>
</nav>