.navbar {
  background: linear-gradient(
    to bottom right,
    white 0%,
    white 50%,
    #f6a278 50%,
    #f6a278 75%,
    #f16744 75%,
    #f16744 90%,
    #027184 90%,
    #027184 100%
  );
  
}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .navbar {
    background: linear-gradient(
      to bottom right,
      white 0%,
      white 50%,
      white 50%,
      #f6a278 75%,
      #f16744 75%,
      #f16744 90%,
      #027184 90%,
      #027184 100%
    );
  }

  .myAccount {
    display: none;
  }
}
