<section class="wp justify-content-center">
    <section>
        <h2 class="mt-5 mb-5 text-left">Estadísticas</h2>
    </section>
    <section class="box img-bg-gif container border border-2 rounded-4 align-items-center px-4 py-4 mt-3">
        <div class="ing d-flex pt-1 w-100 align-items-center">
            <img src="https://placehold.co/400" class="rounded  d-block"  alt="">
            <h3 class="px-3 fw-bold mb-0">Ibón</h3>
            <p class="price-groups fw-bold mb-0 ms-auto">67€</p>
        </div>
        <div class="gas"></div>
   
    </section>
</section>
    





