<section class="wp justify-content-center">
    <section>
        <h2 class="mt-5 mb-5 text-left">Estadísticas</h2>
    </section>
    <section class="box img-bg-gif container border border-2 rounded-4 align-items-center px-4 py-4 mt-3">
        <h4 class="px-3 fw-bold mb-3 mt-3">INGRESOS</h4>
        <div class="ing d-flex pt-1 w-100 align-items-center">
            <img src="https://placehold.co/400" class="rounded  d-block  mx-3 mb-3"  alt="">
            <P class="price-groups fw-bold mb-0"> Ibón</P>
            <p class="price-groups fw-bold mb-0 ms-auto">67€</p>
        </div>
        <div class="ing d-flex pt-1 w-100 align-items-center">
            <img src="https://placehold.co/400" class="rounded  d-block  mx-3 mb-3"  alt="">
            <P class="price-groups fw-bold mb-0"> Ibón</P>
            <p class="price-groups fw-bold mb-0 ms-auto">67€</p>
        </div>
        <h4 class="px-3 fw-bold mb-3 mt-3">GASTOS</h4>
        <div class="gas d-flex pt-1 w-100 align-items-center">
            <img src="https://placehold.co/400" class="rounded  d-block  mx-3 mb-3"  alt="">
            <P class="price-groups fw-bold mb-0"> Ibón</P>
            <p class="price-groups fw-bold mb-0 ms-auto">67€</p>
        </div>
        <div class="ing d-flex pt-1 w-100 align-items-center">
            <img src="https://placehold.co/400" class="rounded  d-block  mx-3 mb-3"  alt="">
            <P class="price-groups fw-bold mb-0"> Ibón</P>
            <p class="price-groups fw-bold mb-0 ms-auto">67€</p>
        </div>
    </section>
</section>
    





