.container {
  padding-left: 22%;

}

.cb {
  font-size: 1.3rem;
}

.header {
  
  font-size: 1.3rem;
}

.box {
  background-color: rgba(2, 113, 132, 0.15);
  width: 100%;
}
.card-body {
  margin: auto;
  text-align: center;
}
.card {
  background-color: rgba(2, 113, 132, 0.15);
}

/* @media (min-width: 760px) and (max-width: 1024px) {
  .wp {
    margin: auto;
    max-width: 80%;
  }
  .card-title,
  .card-text {
    max-width: 100%;
    font-size: smaller;
  }
} */

/* Dispositivo  tablet */
@media only screen and (max-width: 992px) {
  .container {
    padding-left: 0%;

  }
}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .container {
    font-size: 1rem;

    .cb {
      font-size: 1rem;
    }

    .header {
      font-size: 1rem;
    }
  }
}
