<section class="wp justify-content-center">
  <section class="header">
    <h2 class="mt-5 mb-5 text-left">Mis Amigos</h2>
    <span>
    <a class="icon-link icon-link-hover" href="/historial">
      HISTORIAL GLOBAL
      <i class="fa-solid fa-arrow-right" style="color: rgb(18, 113, 253);"></i>
    </a>
  </span>
  </section>

  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let amigo of amigos">
      <div class="card">
        <img src="..." class="card-img-top" alt="Imagen de perfil de {{ amigo.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ amigo.nombre }}</h5>
          <p class="card-text">{{ amigo.email }}</p>
        </div>
      </div>
    </div>
  </div>
  

  
