
    .wp {
      padding: 0px 75px 120px;
  }
    ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
    }
    
  
  @media (min-width: 768px) and (max-width: 1200px) {
      .wp {
          padding: 0px 250px 150px;
      }
  }
  
  @media (min-width: 1201px) {
      .wp {
          padding: 0px 400px 150px;
      }
  }