<section class="wp justify-content-center">
  <section class="header">
    <h2 class="mt-5 mb-5 text-left">Mis Amigos</h2>
    <span>
    <a class="icon-link icon-link-hover" href="/historial">
      HISTORIAL GLOBAL
      <i class="fa-solid fa-arrow-right" style="color: rgb(18, 113, 253);"></i>
    </a>
  </span>
  </section>

  
  <ul *ngIf="members.length > 0; else noFriends">
    <li *ngFor="let friend of members">
      <app-friend-card [title]="friend.name" [userPayments]="userPayments[friend.id]" ></app-friend-card>
    </li>
  </ul>
  <ng-template #noFriends>
  <section class="box img-bg-gif container border border-2 rounded-4 align-items-center px-4 py-4 mt-3">
    <div class="d-flex pt-1 w-100 align-items-center">
      <h5 class="px-3 fw-bold mb-0">No se encontraron amigos</h5>
      <a href="#" class="ms-auto"><i class="fa-solid fa-arrow-left" style="color: #027184;"></i></a>
    </div> 
  </section>
  </ng-template>
</section>


