.container {
  width: 700px;
  margin: auto;

  .card {
    background-color: rgb(227, 233, 233);
    padding: 20px;
    border-radius: 10px;
    width: 40rem;

    img {
      width: 200px;
      border-radius: 100%;
      margin: auto;
    }

    .btn-success {
      background-color: #027184;
      &:hover {
        background-color: #004a59;
      }
    }
    .delete-account {
      color: #004a59;
      text-decoration: none;
      font-size: 0.9rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {
  .container {
    width: 25rem;
    .card {
      width: 20rem;
      margin: auto;

      img {
        width: 200px;
        border-radius: 100%;
        margin: auto;
      }
    }

    .btn-container {
      position: static !important;
    }
    .delete-account {
      position: static !important;
      margin-top: 50px;
    }
  }
}
