<div class="container d-flex flex-column justify-content-center align-items-center mt-4 mb-4">

    <h4 class="text-white">
        <button class="btn" [routerLink]="['/profile-info']">
             <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white " class="bi bi-arrow-left-square-fill arrow"
            viewBox="0 0 16 16">
            <path
                d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
        </svg>
        </button>
    Mi perfil</h4>


    <div class="card m-auto mb-5" style="width: 20rem;">
        <img src="https://placehold.co/300x300" class="card-img-top mt-2" [src]="" [alt]="">
        <div class="card-body">
            <h5 class="card-title mb-2 text-center">
                Nombre usuario
            </h5>
            <p>Fecha nacimiento:</p>
            <p>Teléfono:</p>
            <p>Email:</p>
            <p>Contraseña:</p>
        </div>
    

<div class="btn mb-5">

<button type="button" class="btn btn-light border border-black me-3">Cancelar</button>

<button type="button" class="btn btn-success">Guardar</button>

<p>Características avanzadas</p>
<button type="button" class="btn btn-success">Eliminar Cuenta</button>


</div>

</div>

</div>