.container {
    max-width: 900px;
}

p {
    color: black;
    text-align: justify;

}

h1{
    color: #027184;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 30px;
    
}.accordion-button{
    background-color: #027184;
    color: white;
}

.accordion-button::after {
  color: white;
}