.wp {
  padding: 0px 100px;
}

.btn:hover {
  background-color: rgb(12, 113, 132);
  color: white;
  box-shadow: black 0px 2px 3px 0px;
}

.search-form {
  padding-top: 200px;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(255, 66, 66);
}

.error {
  color: red;
  font-size: 80%;
  margin: 0 0 0 20px;
}