<section class="container mt-2 mb-5">
	<div class="ms-5 me-5">
		<h2>Añade un gasto</h2>
		<div class="p-3 width">
			<form [formGroup]="formNewPayment" (ngSubmit)="createNewPayment()">
				<div class="mb-3">
					<label for="description" class="form-label">Descripción</label>
					<input type="text" placeholder="Introduce una descripción para el gasto" id="description"
						class="form-control" formControlName="description" />
				</div>
				<div class="mb-3">
					<label for="amount" class="form-label">Importe</label>
					<input type="number" placeholder="Introduce el importe del gasto" id="amount" class="form-control"
						formControlName="amount" />
				</div>
				<div class="mb-3">
					<label for="payer" class="form-label" aria-label="Default select example">Pagador</label>
					<select id="payer" class="form-select" formControlName="payee">
						<option selected disabled>Selecciona un pagador</option>
						<option *ngFor="let member of members" [value]="member.id">{{ member }}</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="payee" class="form-label">Participantes</label>
					<select id="payee" class="form-select" formControlName="payee">
						<option selected disabled>Selecciona a quien paga</option>
						<option *ngFor="let member of members" [value]="member.id">{{ member }}</option>
					</select>
				</div>
				<input type="submit" value="Añadir" class="btn btn-se mt-2" />
			</form>
		</div>
	</div>
</section>