.container {
    width: 45rem;
    padding-left: 200px;


p {
    color: black;
    text-align: justify;
}
span {
    color: #027184;
}

h1{
    color: #027184;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 30px;
}

}

/* Dispositivo movil*/
@media only screen and (max-width: 767px) {

    .container {
    width: auto;  
   padding: 1rem;
}
  
}