.wp {
    padding: 0px 75px 120px;
}

.price-text {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 212, 0);
}

.price-groups {
    font-size: 1.25rem;
    color: rgb(0, 212, 0);
}

.img-gif {
    width: 40%;
    height: auto;
}

.img-gif2 {
    width: 50%;
    height: auto;
}

.img-bg-gif {
    background-color: rgba(2, 113, 132, 0.15);
}

.img-menu {
    height: 30px;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .wp {
        padding: 0px 250px 150px;
    }
}

@media (min-width: 1201px) {
    .wp {
        padding: 0px 400px 150px;
    }
}