<section *ngFor="let group of arrGroups"
	class="img-bg-gif container border border-2 rounded-3 align-items-start shadow strong-shadow py-2 mt-3 m-0"
	[routerLink]="['/group', group.id]">
	<div class="mx-3">
		<div class="row pt-1 w-100 align-items-center mx-0">
			<div class="d-flex row w-100 text-120 justify-content-between align-items-center px-0 m-0 p-0">
				<p class="d-flex text-left m-0 p-0 pt-1 text-110 fw-bold wrap-nowrap">{{ group.title }}</p>
				<p class="m-0 p-0 pb-2 pt-0 text-75 d-flex">{{ group.description }}</p>
			</div>
		</div>
	</div>
</section>