

.box{
    background-color: rgba(2, 113, 132, 0.15);
    
}

img{
    max-width: 3rem;
}
.list{
   list-style: none; 
   padding-right: 30px;
}

ul{
  list-style: none;
}
.box_resumen{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}



