<div *ngFor="let member of members; let i = index">
    <button (click)="activePanel === i ? activePanel = -1 : activePanel = i">{{member.name}}</button>
    <div *ngIf="activePanel === i">
      {{userPayments[member.id]|| 'No hay pagos disponibles'}}
    </div>
  </div>
  

<!-- <div *ngFor="let user of userPayments">
    <h3>User ID: {{ user.userId }}</h3>
    <ul>
      <li *ngFor="let payment of user.payments">
        {{ payment.description }} - {{ payment.amount }}
      </li>
    </ul>
  </div> -->