.width {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.image {
  height: 20%;
  width: 20%;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(255, 66, 66);
}

.error {
  color: red;
  font-size: 80%;
  margin: 0 0 0 20px;
}

.btn-outline-secondary {
  border: none;

  &:hover {
    background-color: transparent;
    color: black;
  }
}

.btn-se {
  background-color: #027184;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}

@media only screen and (min-width: 767px) {
  .image {
    height: 15%;
    width: 15%;
  }
}

@media only screen and (min-width: 992px) {
  .width {
    width: 500px;
  }
  .btn-se {
    padding: 10px;
    border: 1px solid #027184;
    background-color: white;
    color: #027184;

    &:hover {
      background-color: #027184;
      color: white;
    }
  }
  .image {
    height: 10%;
    width: 10%;
  }
}
