.btn-se {
  padding: 10px;
  border: 1px solid #027184;
  color: #027184;
  &:hover {
    background-color: #027184;
    color: white;
  }
}

.width {
  width: 100%;
}

@media (min-width: 1200px) {
  .width {
    width: 35%;
  }
}
