<section class="d-flex justify-content-center align-items-center flex-column">
  <h1 class="h2 mt-4">Inicio de sesión</h1>
  <div class="p-3 width">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email:</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Contraseña:</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          formControlName="password"
        />
      </div>
      <input type="submit" value="Iniciar sesión" class="btn btn-se" />
    </form>
  </div>
</section>
