#carouselExampleDark {
  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .carousel-img {
    display: flex;
    justify-content: center;
    margin-bottom: 6.5rem;

    .image {
      width: 50%;
      height: 50%;
    }
  }

  .carousel-caption {
    width: 100%;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 0%;
    left: 0%;
    margin-bottom: 4%;
  }
}

/* Media query para pantallas tablet y grandes */
@media (min-width: 767px) {
  #carouselExampleDark {
    h5 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1.1rem;
    }
    .carousel-img {
      margin-left: 20%;
      margin-bottom: 0rem;
      justify-content: start;
      padding-bottom: 2rem;

      .image {
        width: 35%;
        height: 35%;
      }
    }

    .carousel-caption {
      width: 50%;
      padding: 10px;
      padding-left: 10%;
      padding-right: 10%;
      bottom: 40%;
      left: 50%;
      margin-bottom: 0%;
      margin-left: -5%;
    }
  }
}
