<div id="carouselExampleDark" class="carousel slide mb-4 mb-lg-0" data-bs-theme="dark">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="carousel-img">
        <img src="assets/images/seguimiento.png" class="img-fluid image"
          alt="Una animación que representa el seguimiento que se puede hacer de los gastos en la aplicación." />
      </div>
      <div class="carousel-caption">
        <h5 class="">Haz un seguimiento de tus gastos</h5>
        <p class="">
          Controla los gastos y saldos compartidos y quién debe a quién.
        </p>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <div class="carousel-img">
        <img src="assets/images/gastos.png" class="img-fluid image"
          alt="Una animación que representa el reparto de gastos entre usuarios." />
      </div>
      <div class="carousel-caption">
        <h5 class="">Organiza gastos</h5>
        <p class="">
          Divide gastos con cualquier grupo: viajes, compañeros de piso, amigos
          y familia.
        </p>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="carousel-img">
        <img src="assets/images/anadeGastos.png" class="img-fluid image"
          alt="Una animación que representa la opción de añadir usuarios en la aplicación." />
      </div>
      <div class="carousel-caption">
        <h5 class="">Añade gastos con facilidad</h5>
        <p class="">
          Añade gastos rápidamente sobre la marcha antes de olvidar quién ha
          pagado.
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-img">
        <img src="assets/images/deudas.png" class="img-fluid image"
          alt="Una animación que representa la posibilidad de añadir gastos." />
      </div>
      <div class="carousel-caption">
        <h5 class="">Salda deudas con tus amigos</h5>
        <p class="">
          Salda deudas con amigos y registra cualquier pago en efectivo o en
          línea.
        </p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>