#carouselExampleDark {
  h5 {
    margin-bottom: 0;
    font-size: 1rem;
  }

  p {
    margin-bottom: 0px;
  }

  .image {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    padding-top: 10%;
    padding-bottom: 22%;
  }

  .carousel-caption {
    background-color: #027184f1;
    padding: 5px;
    font-size: 0.9rem;
    width: 90%;
    margin-left: -10%;
    margin-bottom: 5%;
  }
}

@media (min-width: 576px) {
  #carouselExampleDark {
    .image {
      padding-bottom: 15%;
    }
  }
}

/* Media query para pantallas medianas y grandes */
@media (min-width: 767px) {
  #carouselExampleDark {
    .image {
      padding-top: 5%;
      padding-bottom: 0%;
      height: 36%;
      width: 36%;
      margin-left: 15%;
    }

    .carousel-caption {
      width: 16rem;
      margin-left: 40%;
      margin-bottom: 10%;
    }

    h5 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
