<div class="menu-container">
	@if (parent === 'detailGroup'){
	<a class="btn btn-menu" [routerLink]="['/group/group.id/filter']" data-bs-toggle="tooltip" data-bs-placement="top"
		title="Añadir amigos">
		<i class="fa-solid fa-user-plus"></i></a>
	<a type="button" class="btn btn-menu" [routerLink]="['/payments']" data-bs-toggle="modal"
		data-bs-target="#modalAgregarProducto" title="Añadir gastos">
		<i class="fa-solid fa-coins"></i>
	</a>
	<a type="button" class="btn btn-menu" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar grupo"
		(click)="deleteGroup(group)">
		<i class="fa-solid fa-users-rays"></i>
	</a>
	}@else if (parent === 'groups') {
	<a class="btn btn-menu" [routerLink]="['/createGroup']" data-bs-toggle="tooltip" data-bs-placement="top"
		title="Añadir grupo">
		<i class="fa-solid fa-plus"></i></a>
	}
</div>