<div class="menu-container">
    @if (parent === 'detailGroup'){
    <a class="btn btn-menu" [routerLink]="['/group', id, 'filter']" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Añadir amigos">
        <i class="fa-solid fa-user-plus"></i></a>
    <a type="button" class="btn btn-menu" [routerLink]="['/group', id, 'formPayments']" data-bs-toggle="modal"
        data-bs-toggle="tooltip" title="Añadir gastos">
        <i class="fa-solid fa-coins"></i>
    </a>
    <a type="button" class="btn btn-menu" data-bs-toggle="tooltip" data-bs-placement="top" title="Borrar grupo"
        (click)="deleteGroup(id)">
        <i class="fa-solid fa-users-rays"></i>
    </a>
    <a class="btn btn-menu" [routerLink]="['/group', id, 'groupMembers']" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Ver miembros">
        <i class="fa-solid fa-user-group"></i></a>
    }@else if (parent === 'groups') {
    <a class="btn btn-menu" [routerLink]="['/createGroup']" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Añadir grupo">
        <i class="fa-solid fa-plus"></i></a>
    }
</div>