<section class="wp justify-content-center">
    <section>
        <h2 class="mt-5 text-left">Mis Grupos</h2>
    </section>

    <ng-container *ngFor="let card of groupCards">
        <app-group-card [icon]="card.icon" [title]="card.title" [amount]="card.amount">
        </app-group-card>
    </ng-container>

    <!-- <app-group-card></app-group-card> -->


    <hr class="mx-auto mt-5">
    <div class="flex d-flex justify-content-between">
        <span>BALANCE</span>
        <span class="price-text">+183.00€</span>
    </div>
    <hr class="mx-auto mb-5">

</section>